[submodule "kicad-library"]
	path = kicad-library
	url = git@github.com:KiCad/kicad-library.git
[submodule "Housings_DIP.pretty"]
	path = Housings_DIP.pretty
	url = git@github.com:KiCad/Housings_DIP.pretty.git
